[submodule ".registry"]
	path = .registry
	url = https://github.com/certe-medical-epidemiology/universe
	shallow = true
	branch = HEAD
[submodule "certedata"]
	path = certedata
	url = https://github.com/certe-medical-epidemiology/certedata
	shallow = true
	registered = true
